@media (max-width: 1400px) {
    
    /* Menu queries */

    .menu-list{
        margin-top: 16px;
    }

    .menu-list ul {
        font-size: 23px;
    }

    .menu h1 {
        font-size: 30px;
    }

    /* Home page querys */

    .flexbox-home-page {
        display: block;
    }

    .home-page-img {
        margin: 0 auto;
    }

    .home-page-img img {
        width: 80%;
    }

    .home-page-text {
        margin: 0 auto;
    }

    .home-page-text-img img {
        width: 50%;
    }

     /* About Page queries */

     .about-pass-flexbox{
        display: block;
    }

    .pass-img-container img{
        width: 100%;
    }

}

@media (max-width: 450px) {
    
    /*Menu queries */

    .menu img {
        max-height: 30px;
        left: 20px;
        top: 20px;
    }

    .menu h1 {
        font-size: 25px;
    }

    .menu-list {
        margin-top: 24px;
        line-height: 100px;
        height: 100%;
        width: 150px;
    }

    .menu-list ul {
        display: block;
        text-align: center;
        width: 150px;
    }

    /* Home page queries */
   

    .home-page-text {
        font-size: 25px;
    }

    .home-page-text .name {
      font-size: 35px;
    }

    /* About Page queries */

    .about-page h1{
        font-size: 35px;
    }

    .about-me-container{
        font-size: 25px;
    }

    .about-pass-flexbox{
        display: block;
    }

    .pass-img-container img{
        width: 135%;
    }
}